:root {
    --primary-color: #2196f3;
    --simple-color: #000000;
    --secondary-color: #757575;
    --mainsection-clor: #2f303a;
    --item-color: #212121;
    --background-color: #2f303a;
    --whole-white-color:#ffffff;
    --fotter-color: rgba(255, 255, 255, 0.6);
    --hero-bck-cloror:#F5F4FA;
    --focus-color:#188CE8;
    --solid: #ECECEC;
    --icon-color:#AFB1B8;
    --linky-background:#EEEEEE;
  } 
  